<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lpms.dao.ConserveTaskDao">

    <insert id="addTask" parameterType="com.lpms.pojo.conserveTask.ConserveTask" useGeneratedKeys="true" keyProperty="conserveTask_id">
        INSERT INTO conserve_task (
        conserveTask_name,
        conserveTask_describe,
        conserveTask_peopleid,
        conserveTask_placeid,
        conserveTask_requiretime,
        conserveTask_createtime,
        conserveTask_updatetime
        )
        VALUES (
        #{conserveTask_name},
        #{conserveTask_describe},
        #{conserveTask_peopleid},
        #{conserveTask_placeid},
        #{conserveTask_requiretime},
        #{conserveTask_createtime},
        #{conserveTask_updatetime}
        )
    </insert>

    <!-- 将 plantid 和 conserveTaskID 添加进 plant_task 表中 -->
    <insert id="addPlantTask" parameterType="java.util.Map">
        INSERT INTO plant_task (plant_id, conserveTask_id)
        VALUES
        <foreach collection="plantIds" item="plantId" separator=",">
            (#{plantId}, #{conserveTaskId})
        </foreach>
    </insert>

    <delete id="deleteTask" parameterType="int">
        DELETE FROM conserve_task WHERE conserveTask_id = #{id}
    </delete>

    <update id="updateTask" parameterType="com.lpms.pojo.conserveTask.ConserveTask">
        UPDATE conserve_task
        SET
        conserveTask_name = #{conserveTask_name},
        conserveTask_describe = #{conserveTask_describe},
        conserveTask_peopleid = #{conserveTask_peopleid},
        conserveTask_placeid = #{conserveTask_placeid},
        conserveTask_requiretime = #{conserveTask_requiretime},
        conserveTask_updatetime = #{conserveTask_updatetime}
        WHERE conserveTask_id = #{conserveTask_id}
    </update>

    <update id="updateTime" parameterType="java.util.Map">
        UPDATE conserve_task
        SET conserveTask_completetime= #{completeTime}
        WHERE conserveTask_id = #{conserveTaskId}
    </update>

    <resultMap id="ConserveTaskResultMap" type="com.lpms.pojo.conserveTask.ConserveTask">
        <id property="conserveTask_id" column="conserveTask_id"/>
        <result property="conserveTask_name" column="conserveTask_name"/>
        <result property="conserveTask_describe" column="conserveTask_describe"/>
        <result property="conserveTask_peopleid" column="conserveTask_peopleid"/>
        <result property="conserveTask_placeid" column="conserveTask_placeid"/>
        <result property="conserveTask_requiretime" column="conserveTask_requiretime"/>
        <result property="conserveTask_completetime" column="conserveTask_completetime"/>
        <result property="conserveTask_createtime" column="conserveTask_createtime"/>
        <result property="conserveTask_updatetime" column="conserveTask_updatetime"/>
        <collection property="conserveTask_plantname" ofType="java.lang.String" column="plant_name"/>
    </resultMap>

    <select id="findAll" resultMap="ConserveTaskResultMap">
        SELECT ct.*, p.plant_name
        FROM conserve_task ct
        LEFT JOIN plant_task pt ON ct.conserveTask_id = pt.conserveTask_id
        LEFT JOIN plant p ON pt.plant_id = p.plant_id
    </select>

</mapper>
