<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lpms.dao.DiseaseDao">

    <insert id="addMethod" parameterType="com.lpms.pojo.disease.Disease" useGeneratedKeys="true" keyProperty="method_id">
        INSERT INTO method (method_name, drug_name, drug_dosage, drug_time)
        VALUES (#{method}, #{drug_name}, #{drug_dosage}, #{drug_time})
    </insert>

    <!-- 插入disease信息，并返回自增的disease_id -->
    <insert id="addDisease" parameterType="com.lpms.pojo.disease.Disease" useGeneratedKeys="true" keyProperty="disease_id">
        INSERT INTO disease (disease_name, disease_methodid)
        VALUES (#{disease_name}, #{method_id})
    </insert>

    <!-- 删除疾病信息 -->
    <delete id="deleteDisease" parameterType="int">
        DELETE FROM disease WHERE disease_id = #{id}
    </delete>

    <!-- 更新method信息 -->
    <update id="updateMethod" parameterType="com.lpms.pojo.disease.Disease">
        UPDATE method
        SET method_name = #{method}, drug_name = #{drug_name}, drug_dosage = #{drug_dosage}, drug_time = #{drug_time}
        WHERE method_id = #{method_id}
    </update>

    <!-- 更新disease信息 -->
    <update id="updateDisease" parameterType="com.lpms.pojo.disease.Disease">
        UPDATE disease
        SET disease_name = #{disease_name}
        WHERE disease_id = #{disease_id}
    </update>

    <select id="findAll" resultMap="DiseaseResultMap">
        SELECT
        d.disease_id,
        d.disease_name,
        d.method_id, <!-- 增加 method_id 字段 -->
        m.method_name,
        m.drug_name,
        m.drug_dosage,
        m.drug_time
        FROM disease d
        LEFT JOIN method m ON d.method_id = m.method_id
    </select>

    <resultMap id="DiseaseResultMap" type="com.lpms.pojo.disease.Disease">
        <id property="disease_id" column="disease_id"/>
        <result property="disease_name" column="disease_name"/>
        <result property="method_id" column="method_id"/> <!-- 映射 method_id 字段 -->
        <result property="method_name" column="method_name"/>
        <result property="drug_name" column="drug_name"/>
        <result property="drug_dosage" column="drug_dosage"/>
        <result property="drug_time" column="drug_time"/>
    </resultMap>

</mapper>
